html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 500px;
    color: rgb(47, 47, 214);
    background-color: beige;
}

*,
*::after,
*::before {
    box-sizing: content-box;
}

.wrapper {
    width: 1920px;
    height: 1080px;
    margin: 0px auto;
    top: 0;
    left: 0;
}

.bayan-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 50px auto;
}

.bayan-content:hover {
    color: #000;
    transition: .5s;
    cursor: pointer;
}

.header {
    color: #000;
    margin: 0 0 50px 0;
}

.bayan-item {
    border-top: 3px solid #7c7878;
    padding: 30px 0px;
}

.bayan-title {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0 0 30px 0;
}

.bayan-title::after {
    content: '';
    display: block;
    border: solid;
    border-width: 0 5px 5px 0;
    padding: 3px;
    margin: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: .5s;
}

.bayan-input {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.bayan-input:checked~.bayan-title::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: .5s;
}

.bayan-input:checked~.bayan-title {
    color: #000
}

.bayan-input:checked~.bayan-img img {
    width: 50%;
    height: 40%;
    margin: 0 auto;
    transition: .3s;
}

.bayan-img img {
    width: 0px;
    height: 0px;
    transition: .3s;
}

.bayan-img {
    display: flex;
    justify-content: center;
    align-items: center;
}